<div class="page-header"> 
    <h2>Perfil do candidato</h2>
</div>


<div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="applicantName">Nome completo do Candidato:</label>
          <input type="name" class="form-control" id="applicantName" placeholder="Nome completo do candidato">
        </div>
      </div>
    </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="firstOptionCourse">Curso (Primeira Opção):</label>
            <input type="name" class="form-control" id="firstOptionCourse" placeholder="Curso a que o candidato se inscreveu como primeira opção">
          </div>
        </div>
      </div>

      <hr/>
      <br/>
      <div class="row">
        <div class="col-md-12 d-flex justify-content-center">
          <p class="dica">
            Antes de iniciar a entrevista, verifique as respostas do questionário relativas aos conhecimentos técnicos da área, ou a experiência.
          </p>
        </div>
      </div>

      <br/>
      <hr/>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="motivation">
              Porque razão quer vir frequentar um curso de formação profissional e porque é que escolheu a ATEC? 
              <br/>
              <span class="dica">(motivação e interesse pela área)</span>
            </label>
            <input type="name" class="form-control" id="motivation">
          </div>
        </div>
      </div>

      <br/>
      <hr/>

      <h5>Notas para o entrevistador - NÃO ESQUECER</h5>

      
      <ul>
        <li><h5>Apenas para <strong>Aprendizagem:</strong></h5>
            <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="preferencesAprendizagem">
                      Analisar o relatório IPPR para identificar preferências - <strong>validar estas preferências</strong> com o candidato 
                      <br/>
                    </label>
                    <input type="name" class="form-control" id="preferencesAprendizagem">
                  </div>
                </div>
            </div>
        </li>
        <li><h5>Para <strong>TODAS</strong> as modalidades de formação</h5>
          <span class="dica">(usar as brochuras da FP APZ e CETs)</span>
          <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="preferencesTodos">Validar motivações e interesses - <strong>validar 1ª e 2ª opções </strong>da ficha de inscrição                 
                  </label>
                  <input type="name" class="form-control" id="preferencesTodos">
                </div>
              </div>
            </div>
        </li>
      </ul>

      <br/>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="objectives">Que percurso pensa fazer após o curso? Como se vê daqui a 5 anos? 
              <br/>
              <span class="dica">(ojectivos de vida)</span>
            </label>
            <input type="name" class="form-control" id="objectives">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="description">
              Fale um pouco sobre si / Como se descreve a si próprio? / Quais os seus pontos fortes e menos fortes?  
            </label>
            <input type="name" class="form-control" id="description">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="rules">
              O que pensa sobre o cumprimento de horários e regras?
              <br/>
              <span class="dica">(dar a conhecer o horário do curso e explorar em conformidade as rotinas diárias necessárias)</span>    
            </label>
            <input type="name" class="form-control" id="rules">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="family">
              Com quem vive?
              <br/>
              <span class="dica">(averiguar estrutura familiar)</span>    
            </label>
            <input type="name" class="form-control" id="family">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="familyUnemployement">
              <strong> (Não aplicável para APZ)</strong>
              Tem algum membro do agregado familiar desempregado?
              <br/>
              <span class="dica">(saber que condições tem o candidato para permanecer no curso até à sua conclusão)</span>    
            </label>
            <input type="name" class="form-control" id="familyUnemployement">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="hobbies">             
              Como ocupa os seus tempos livres?
              <br/>
              <span class="dica">(alguma actividade relacionada com a área de motivação?)</span>    
            </label>
            <input type="name" class="form-control" id="hobbies">
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label for="reasons">             
              Enumere 3 razões que façam de si o candidato ideal para ser formando da ATEC
            </label>
            <input type="name" class="form-control" id="reasons">
          </div>
        </div>
      </div>
    </div>
