li {
    list-style-type: none;
}

a {
    color: inherit;
}

a.nav-link {
    text-align: center;
}

#modalTime .show {
    display: contents !important;
}

body .fc {
    font-size: 1em;
}

.fc-content .fc-time {
    font-size: 1em !important;
}

.fc-center {
    color: #00a3e0;
    border-radius: 5px;
    padding: 5px 8px 3px 8px;
}

.fc-button {
    background-color: #00a3e0 !important;
    background-image: none !important;
    color: white;
}

.fc-state-hover {
    background-color: #0063b9 !important;
    background-image: none !important;
    color: white;
    border-color: white;
}

.fc-state-active {
    background-color: #005da5 !important;
    background-image: none !important;
    border-color: rgb(255, 255, 255);
    color: white;
}

.fc-event .fc-content {
    color: white !important;
    font-weight: bold;
}

.fc th {
    color: #00a3e0;
}

.fc-widget-content {
    color: #00a3e0;
}

.calendar-container {
    margin: 10px;
    padding: 10px;
}

ul.nav-item {
    padding-left: 17px;
}

a:hover {
    text-decoration: none;
}

.activeMenu {
    color: #00a3e0;
    font-weight: bold;
    font-size: 16px;
}

li.active {
    background-color: #00a3e0;
}

.btn .btn-info .btn-link .btn-sm {
    border: transparent;
    padding: 5;
}

.wrap-login100 {
    box-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.14),
        0 7px 10px -5px rgba(156, 39, 176, 0.4);
}

img#entrar {
    background-image: url(images/bg-01.jpg);
}

.logoStyle {
    width: 100%;
}

.input-border-width {
    border-width: 0 0 1px;
}

.text-info{
    color: #00a3e0 !important;
}

.text-info:hover{
    color: #00a3e0 !important;
}

.main-panel{
    background-color: #f1f1f1;
}

#calendar{
    background-color: white;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.card {
    padding-bottom: 20px;
}