<div class="page-header">
    <h4>Observações durante a entrevista </h4>
  </div>
  <div class="container-fluid">
  
    
    <div class="row">
      <div class="col-md-12">     
        <table class="table">                
          <thead>
            <tr>
              <th scope="col">Critérios</th>
              <th scope="col">Desadequado</th>
              <th scope="col">Adequado</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Apresentação Geral</th>
              <td>
                <div class="radio">
                  <label><input type="radio" name="presentation" checked>1</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="presentation">2</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="presentation">3</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="presentation">4</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="presentation">5</label>
                </div>
              </td>
              <td>
                <div class="radio">
                  <label><input type="radio" name="presentation" checked>6</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="presentation">7</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="presentation">8</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="presentation">9</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="presentation">10</label>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">Postura face à entrevista/entrevistador</th>
              <td>
                <div class="radio">
                  <label><input type="radio" name="posture" checked>1</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="posture">2</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="posture">3</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="posture">4</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="posture">5</label>
                </div>
              </td>
              <td>
                <div class="radio">
                  <label><input type="radio" name="posture" checked>6</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="posture">7</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="posture">8</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="posture">9</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="posture">10</label>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">Hesitações/Pausas</th>
              <td>
                <div class="radio">
                  <label><input type="radio" name="pauses" checked>1</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="pauses">2</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="pauses">3</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="pauses">4</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="pauses">5</label>
                </div>
              </td>
              <td>
                <div class="radio">
                  <label><input type="radio" name="pauses" checked>6</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="pauses">7</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="pauses">8</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="pauses">9</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="pauses">10</label>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">Discurso lógico</th>
              <td>
                <div class="radio">
                  <label><input type="radio" name="speech" checked>1</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="speech">2</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="speech">3</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="speech">4</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="speech">5</label>
                </div>
              </td>
              <td>
                <div class="radio">
                  <label><input type="radio" name="speech" checked>6</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="speech">7</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="speech">8</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="speech">9</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="speech">10</label>
                </div>
              </td>
            </tr>
            <tr>
              <th scope="row">Compreensão das questões colocadas</th>
              <td>
                <div class="radio">
                  <label><input type="radio" name="understanding" checked>1</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="understanding">2</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="understanding">3</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="understanding">4</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="understanding">5</label>
                </div>
              </td>
              <td>
                <div class="radio">
                  <label><input type="radio" name="understanding" checked>6</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="understanding">7</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="understanding">8</label>
                </div>
                <div class="radio">
                    <label><input type="radio" name="understanding">9</label>
                </div>
                <div class="radio">
                  <label><input type="radio" name="understanding">10</label>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
