<div class="container-fluid">  
    <div class="row justify-content-end">
    
      <div class="idForm">
        <label for="idForm">Número único do Formulário:</label>
        <br/>
        <label for="idForm">1{{ id_form }}</label>
      </div>
    
      <div class="idForm">
        <label for="idForm">Número único da Entrevista:</label>
        <br/>
        <label for="idForm">1{{ id_interview}}</label>
      </div>
    </div>
  
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <label for="idInterviewer">Entrevista realizada por:</label>
        <input type="name" class="form-control" id="idInterviewer" placeholder="Nome do Formador que realiza a entrevista">
      </div>
    </div>
  </div>

    
  <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="idInterviewer">Entrevista realizada por:</label>
          <input type="name" class="form-control" id="idInterviewer" placeholder="Nome do Formador que realiza a entrevista (válido apenas para cursos de Aprendizagem)">
        </div>
      </div>
    </div>

  <div class="row justify-content-end">
      <div class="col-md-3">
        <div class="form-group">
          <label for="interviewDate">Data da entrevista:</label>
          <input type="date" class="form-control" id="interviewDate">
        </div>
      </div>
    </div>

</div>